Repository unjs/automd, pull requests merged in 2024-02, with the labels that each got.

#22 feat: `pm-i` alias
  README.md
  src/generators/index.ts
Labels: enhancement, generator:pm

#24 feat: support `separate` for pm generators
  README.md
  playground/README.md
  src/generators/pm.ts
Labels: enhancement, generator:pm

#25 feat: did you mean?
  package.json
  playground/README.md
  pnpm-lock.yaml
  src/automd.ts
Labels: enhancement

#38 docs: update `file` to `input` for cli usage
  docs/1.guide/1.index.md
Labels: documentation

#39 fix: respect multiline description
  src/generators/jsdocs.ts
  test/fixture/OUTPUT.md
  test/fixture/src/test.ts
Labels: bug, generator:jsdocs
